.media-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

@media (min-width: 768px) {
	.media-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}
}

@media (min-width: 1024px) {
	.media-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1280px) {
	.media-grid {
		grid-template-columns: repeat(7, 1fr);
	}
}
