/* Component CSS */

/* .category-card__box {
} */

.category-card__tag {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--white-color);
	font-size: 1.6875rem;
	font-weight: 600;
	text-align: center;
	height: fit-content;
	margin: auto;
}

/* .category-card__title {
} */
